* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.712);
}
.header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
   
}
.header h1 {
    font-size: 40px;
    margin-left: 60px;
    color: #00ffff;
}
.header h3 {
    font-size: 30px;
    margin-right: 60px;
    cursor: pointer;
    color: #ffffff;
}
.list-tache {
    margin-top: 15px;
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(184, 184, 184, 0.507);
}
.list-tache ul {
    display: flex;
}
.list-tache ul li {
    list-style: none;
    margin: 0 70px;
    font-size: 18px;
    font-weight: 500;
    cursor: default;
}
.touts {
    border: 1px solid #0000;
}
.div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.281);
    height: 150px;
}
.div ul {
    display: flex;
}
.div ul li {
    list-style: none;
    margin: 0 300PX;
    font-size: 20px;
}
.div button {
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    letter-spacing: 2px;
}
.block {
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgba(189, 189, 189, 0.26);
}
.conteneur {
    display: flex;
    margin: 0 20px;
}
.block1 {
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 20px;
    padding: 20px;
    width: 500px;
    height: 200px;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.671);
}
.block1 h1 {
    text-align: center;
    margin-top: 5px;
}
.block2 {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 8px;
    height: 80px;
    border-radius: 6px;
    margin-left: 28px;
    border: 1px solid #00000063;
    background-color: rgba(22, 22, 21, 0.151);
}
.block2 li {
    list-style: none;
}

button {
    padding: 6px;
    border-radius: 6px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    transform: scale(0.9);
    background-color: rgba(163, 159, 159, 0.377);
}
.suprimer {
     background-color: rgb(233, 85, 85);
}
.modifier {
    background-color: rgba(103, 182, 255, 0.815);
}
.ajout {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
}
span {
    height: 8px;
    width: 200px;
    background-color: #00ffff;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
footer p {
    font-size: 18px;
}
